h1 {
  text-shadow: 1px 1px red;
}

:root {
  --old-left: 50%;
  --new-left: 50%;
  --old-top: 50%;
  --new-top: 50%;
  --stay-top: 50%;
  --stay-left: 50%;
  --move-time: 1s;
  
  --helper-1-old-left: 50%;
  --helper-1-new-left: 50%;
  --helper-1-old-top: 50%;
  --helper-1-new-top: 50%;
  --helper-1-stay-top: 50%;
  --helper-1-stay-left: 50%;
  --helper-1-move-time: 3s;
  
  --helper-2-old-left: 50%;
  --helper-2-new-left: 50%;
  --helper-2-old-top: 50%;
  --helper-2-new-top: 50%;
  --helper-2-stay-top: 50%;
  --helper-2-stay-left: 50%;
  --helper-2-move-time: 3s;
  
  --helper-3-old-left: 50%;
  --helper-3-new-left: 50%;
  --helper-3-old-top: 50%;
  --helper-3-new-top: 50%;
  --helper-3-stay-top: 50%;
  --helper-3-stay-left: 50%;
  --helper-3-move-time: 3s;
}




#da-gobin-div {
  position: absolute;
  width: 6.9%;
  height: 6.9%;
  left: var(--stay-left);
  top: var(--stay-top);
}

/* The element to apply the animation to */
#da-gobin-object {
  display: inline-block;
  background-image: url("../assets/Cropandacoon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  width: 100%;
  height: 100%;
  
  position: absolute;
}

#da-crit-bocks {
  display: inline-block;
  background-size: cover;
  width: 25%;
  height: 20%;
  opacity: 0.4;
  
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.da-gobin-div-animated {
  animation-name: gobin-wigglin;
  animation-duration: var(--move-time);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation: gobin-wigglin 3s linear; */
}

@keyframes gobin-wigglin {
  0% {
    left: var(--old-left);
    top: var(--old-top);
  }
  100% {
    left: var(--new-left);
    top: var(--new-top);
  }
}




#da-helper1-div {
  position: absolute;
  width: 6%;
  height: 6%;
  left: var(--helper-1-stay-left);
  top: var(--helper-1-stay-top);
  z-index: 0;
  opacity: 0;
}

/* The element to apply the animation to */
#da-helper1-object {
  opacity: 1;
  display: inline-block;
  background-image: url("../assets/BIRTHDAY.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  width: 100%;
  height: 100%;
  
  position: absolute;
}

.da-helper1-div-animated {
  animation-name: helper1-wigglin;
  animation-duration: var(--helper-1-move-time);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation: gobin-wigglin 3s linear; */
}

@keyframes helper1-wigglin {
  0% {
    left: var(--helper-1-old-left);
    top: var(--helper-1-old-top);
  }
  100% {
    left: var(--new-left);
    top: var(--new-top);
  }
}




/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #449604;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}



/* Style navigation menu links */
.topnav a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #00ffa2;
  color: rgb(255, 0, 0);
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ff0000;
  color: rgb(0, 0, 0);
}




/* leaderboard styling stuff */
.Leaderboard {
  overflow: hidden;
  background-color: #0af8d8;
  position: relative;
}

.Leaderboard #LeaderboardDiv {
  display: none;
}

.Leaderboard a {
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}


.Leaderboard a:hover {
  background-color: #00ffa2;
  color: black;
}

/* Style the active link (or home/logo) */
.l_active {
  background-color: #000000;
  color: white;
}




/* <=:(###)~~~ */