h1 {
  text-shadow: 1px 1px red;
}

/* h1::before{
  content: 'Original Text';
  font-size: 100%;
  animation-name: head;
  animation-duration: 50s;
  animation-iteration-count: infinite;
}

@keyframes head {
  0%   { content: "10";}
  2%   { content: "10"; }
  4%   { content: "9"; }
  6%   { content: "8"; }
  8%   { content: "7"; }
  10%  { content: "6"; }
  12%  { content: "5"; }
  14%  { content: "4"; }
  16%  { content: "3"; }
  18%  { content: "2"; }
  20%  { content: "10";}
  22%  { content: "9"; }
  24%  { content: "8"; }
  26%  { content: "7"; }
  28%  { content: "10";}
  30%  { content: "9"; }
  32%  { content: "8"; }
  34%  { content: "7"; }
  36%  { content: "6"; }
  38%  { content: "5"; }
  40%  { content: "8"; }
  42%  { content: "8"; }
  44%  { content: "8"; }
  46%  { content: "8"; }
  48%  { content: "8"; }
  50%  { content: "8"; }
  52%  { content: "8"; }
  54%  { content: "8"; }
  56%  { content: "8"; }
  58%  { content: "8"; }
  60%  { content: "8"; }
  62%  { content: "8"; }
  64%  { content: "8"; }
  66%  { content: "8"; }
  68%  { content: "8"; }
  70%  { content: "8"; }
  72%  { content: "8"; }
  74%  { content: "8"; }
  76%  { content: "8"; }
  78%  { content: "8"; }
  80%  { content: "8"; }
  82%  { content: "8"; }
  84%  { content: "8"; }
  86%  { content: "8"; }
  88%  { content: "8"; }
  90%  { content: "8"; }
  92%  { content: "8"; }
  94%  { content: "8"; }
  96%  { content: "8"; }
  98%  { content: "8"; }
  100% { content: "8"; }
}*/


:root {
  --old-left: 50%;
  --new-left: 50%;
  --old-top: 50%;
  --new-top: 50%;
  --stay-top: 50%;
  --stay-left: 50%;
  --move-time: 1s;
}

#da-gobin-div {
  position: absolute;
  width: 6.9%;
  height: 6.9%;
  left: var(--stay-left);
  top: var(--stay-top);
}

.da-gobin-div-animated {
  animation-name: gobin-wigglin;
  animation-duration: var(--move-time);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  /* animation: gobin-wigglin 3s linear; */
}

@keyframes gobin-wigglin {
  0% {
    left: var(--old-left);
    top: var(--old-top);
  }
  100% {
    left: var(--new-left);
    top: var(--new-top);
  }
}

/* The element to apply the animation to */
#da-gobin-object {
  display: inline-block;
  background-image: url("../assets/Cropandacoon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /* border: none; */

  width: 100%;
  height: 100%;

  position: absolute;
}

#da-crit-bocks {
  display: inline-block;
  background-size: cover;
  /* min-width: 1px;
  width: 1px; */
  height: 10px;
  /* opacity: 0.0; */
  
  /* z-index: -2000; */
  position: absolute;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
}

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #04AA6D;
  color: white;
}


/* #da-gobin-div {
  position: absolute;
  width: 6.9%;
  height: 6.9%;
  left: 30%;
  top: 30%;
}

#da-gobin-div-animation {
  animation-name: gobin-wigglin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes gobin-wigglin {
  0% {
    left: 30%;
    top: 30%;
  }
  100% {
    left: 60%;
    top: 60%;
  }
} */